/* Style Guide 
  * Primary Color: grey
  * Secondary Color: green
*/


html {
  background: lightgrey;

}

p {
  display: flex;
  justify-content: center;
  
  
  
  margin: 100px;
}





div {

  display: flex;
  justify-content: center;
  align-items: center;
  
  
 
 
  outline: 1px;

  transform: scale(1);
  filter:grayscale(.5);

  
  background-image: url("https://raw.githubusercontent.com/hinksonsean/hinksonsean.github.io/master/img/BackgroundImageWebsite.jpg"); 
  background-position: 0 0;
  width: 50%;
  height: 100px;
  
  
  
  animation: sprite 20s steps(45) infinite; 
}


@keyframes sprite {
  
  0% { background-position: 0 0%; }

  50% {background-position: 0 100%;}
 
  100% { background-position: 0 0%; }
  
}

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  scale: 2;
  
}

h3 {
  background: white;
  
  
}







h1 {
  color: black;
  
  display: flex;
  justify-content: center;

}

h1 {
  animation: fadeIn 1s;
 
}

@keyframes fadeIn {

  0% {
    opacity: 0;
    scale: .5;

  }

  50% {
    scale: 1.1;
  }

  100% {
    opacity: 100;
    scale: 1;
  }
}

p {
  margin: 50px

}




section {
  background: lightblue;
  height: 19px;
  overflow: hidden;

  transition: height .5s ease-in-out
  
}

.accordion {
  height: 900px;
}

#trigger {
  background: aquamarine;
  margin: 0;
}





main { 
  margin: 0 auto;
  width: 90%;
    
  display: grid;
  grid-template-columns: 1fr;
}




main img {  
  grid-column: 1 / 1;
}


/* Mobile 
  0 to 26em (416 pixels)
*/
@media only screen and (min-width: 0) { 
    
  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: yellow;
       content: "Mobile Size";
  }
  
}

/* Tablet 
  26em (416 pixels) to 72em (1,152 pixels)
*/
@media only screen and (min-width: 26em)  {
    
  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: yellow;
       content: "Tablet Size";
  }

}

/* Desktop 
   72em (1,152 pixels) to 90em (1440 pixels)
*/
@media screen and (min-width: 72em)  { 
  
  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: yellow;
       content: "Desktop Size";
  }

}


.responsive {
  width: 100%;
  height: auto;
}

/* Wide Desktop: 
  Greater than 90em (1440px)
*/
@media screen and (min-width: 90em) { 
  
  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: yellow;
       content: "Wide Desktop Size";
  }

}