/* My Awesome Styles */

/* Diagnostic Styling 
  * Change Background Color
  * Outline Elements
  * Remove when done
*/
.responsive {
  width: 100%;
  max-width: 400px;
  height: auto;

}


/******************************
Main Container/Wrapper
******************************/
main {
margin: 0 auto;
padding: 1em;
}

/******************************
Biography
******************************/
.bio {
text-align: center;
}



/******************************
Flickity Styling
******************************/
/* Style carousel container */
.carousel {
background: gray;
}

/* Style individual carousel-cell content */
.carousel .cell {
background: gray;
width: 100%;
}




