/* My Awesome Styles */

/* Diagnostic Styling 
  * Change Background Color
  * Outline Elements
  * Remove when done
*/

body {
  background: black;
}

h1 {
  color: white;
}
p {
  color: white;
}

.responsive {
  width: 100%;
  max-width: 700px;
  height: auto;
}

/******************************
Main Container/Wrapper
******************************/


main {
margin: 0 auto;
padding: 1em;
}

div {

}

/******************************
Biography
******************************/
.bio {
text-align: center;
}



/******************************
Flickity Styling
******************************/
/* Style carousel container */
h3 {
  color: whitesmoke;
}


.carousel {
background: #3D0C02;
}

/* Style individual carousel-cell content */
.carousel .cell {
background: #3D0C02;
width: 100%;
}



/* contact styling  */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}


